
.login-bg {
    background-color: var(--cor-fundo-escuro);
}


.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 0; 
}


.login-title {
    color: var(--cor-primaria);
    font-weight: 300;
    font-size: 2.2rem;
}


.login-input {
    background-color: var(--cor-input-bg);
    border: none;
    border-radius: 0;
    padding: 12px 15px;
    color: #444;
}

.login-input:focus {
    background-color: #d1d6dc;
    box-shadow: none;
    outline: none;
}

.login-input::placeholder {
    color: #8c99a6;
}


.btn-login {
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    border-radius: 0;
    border: none;
}

.btn-login:hover {
    background-color: #25a1ae;
    color: white;
}


.forgot-password-link {
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 0.95rem;
}

.forgot-password-link:hover {
    text-decoration: underline;
}


.login-secure-footer {
    background-color: var(--cor-secundaria);
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}